// Colors
@col_high:  #4CC7FF;
@col_mid: #47B4E0;
@col_base: #6498B2;
@col_low: #7D7682;
@col_dark: #705C54;

@col_dgrey: #222;

// Font Stuff
.f_general {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.f_accent {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}
.f_header {
	font-family: 'Josefin Slab', serif;
	font-weight: 300;
	letter-spacing: -5px;
}

// Utility Classes
.trans (@time) {
    -webkit-transition: all @time ease-in-out;
    -moz-transition: all @time ease-in-out;
    -o-transition: all @time ease-in-out;
    -ms-transition: all @time ease-in-out;
    transition: all @time ease-in-out; 
}
.transform (@rotate: 0deg, @scale: 1, @skew: 0deg, @translate: 0px) {
    -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
}


// General Classes
.round (@radius: 3px) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-o-border-radius: @radius;
}
.sh_box ( @shadow_1 , @shadow_2: transparent 0 0 0 ) {
	box-shadow: @shadow_1 , @shadow_2;
	-moz-box-shadow: @shadow_1 , @shadow_2;
	-webkit-box-shadow: @shadow_1 , @shadow_2;
	-o-box-shadow: @shadow_1 , @shadow_2;
}
.sh_text ( @shadow_1 , @shadow_2: transparent 0 0 0 ) {
	text-shadow: @shadow_1 , @shadow_2;
	-moz-text-shadow: @shadow_1 , @shadow_2;
	-webkit-text-shadow: @shadow_1 , @shadow_2;
	-o-text-shadow: @shadow_1 , @shadow_2;
}
.linear_gradient (@top, @bottom) {
	background: @bottom;
	background: -moz-gradient( linear, left top, left bottom, @top , @bottom );
	background: -moz-linear-gradient( @top , @bottom );
	background: -webkit-gradient( linear, left top, left bottom, @top , @bottom );
	background: -webkit-linear-gradient( @top , @bottom );
	background: -o-linear-gradient( @top , @bottom );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@top, endColorstr=@bottom);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='@top', endColorstr='@bottom')"; 
	background: linear-gradient( linear, left top, left bottom, @top , @bottom );
}
.radial_gradient (@center,@outer) {
	background: @outer;
	background: radial-gradient( @center , @outer );
	background: -moz-radial-gradient( @center , @outer );
	background: -webkit-radial-gradient( @center , @outer );
	background: -o-radial-gradient( @center , @outer );
}

* {
	.f_accent;
}
body {
	.f_accent;
	font-size: 20px;
	.radial_gradient( #EEE , #ddd );
	min-height: 800px;
}
// Headers and whatnot
h1,h2,h3,h4,h5 {
	.f_accent;
}
h1 {
    // &.huge_text {
    //     font-size: 80px;
    // }
}
p {
	.f_general;
	font-size: 1.5em;

	&.huge_text {
		.f_accent;
		font-size: 80px;
		letter-spacing: -3px;
	}
}
a {
	.f_accent;
	color: @col_dgrey;
	text-decoration: none;
	.trans( .3s );
	&:hover {
		color: lighten( @col_dgrey , 10% );
	}
	&.logo {
		.f_header;
		font-size: 70px;
	}
	&.btn {
		.f_accent;
		.round(3px);
		display: block;
		float: left;
		margin-right: 5px;
		padding: 16px 30px;
		background: #ccc;
		border: 1px #aaa solid;
        font-size: 1.5em;
        //.sh_box( 0 0 5px #bbb inset );
		&:hover {
            .trans( .3s );
			border: 1px #9c9c9c solid;
			background: #ccc;
			.sh_box( 0 2px 12px #bbb, 0 1px 1px #eee inset );
		}
        &:active {
            .trans( .3s );
            .sh_box( 0 0px 2px #999 inset );
        }
        &.down {
            
        }
	}
}

#code_is {

	.round;
	border: 1px #999 solid;
	.sh_box( 0 4px 20px #888 );

	h1 {
		.f_general;
		font-weight: 700;
		font-size: 5em;
		letter-spacing: -5px;
		color: #ccc;
		.sh_text(  0 -1px 2px #fff, 0 1px 4px #222)
	}

	div {
		.linear_gradient( @col_base , @col_mid );
		.sh_box( 0 1px 1px @col_high inset );
		width: 940px;
		height: 400px;
		//background: #ccc;
		padding: 40px;
		text-align: center;
		font-size: 20px;
	}

}

.box {
	.round;
	.sh_box( 0 2px 4px #bbb , 0 1px 1px #ddd inset );
	padding: 10px 13px;
	.linear_gradient( #ddd , #ccc );
	border: 1px #aaa solid;
	margin-top: 30px;
	min-height: 70px;
	text-align: center;
}