// Colors
@col_high:  #4CC7FF;
@col_mid: #47B4E0;
@col_base: #6498B2;
@col_low: #7D7682;
@col_dark: #705C54;

@col_dgrey: #222;

// Font Stuff
.f_general {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.f_accent {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}
.f_header {
	font-family: 'Source Sans Pro', serif;
	font-weight: 700;
	letter-spacing: -5px;
}
.f_block {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
}
.f_mono {
	font-family: 'Oxygen Mono', sans-serif;
}

// Utility Classes
.trans (@time) {
    -webkit-transition: all @time ease-in-out;
    -moz-transition: all @time ease-in-out;
    -o-transition: all @time ease-in-out;
    -ms-transition: all @time ease-in-out;
    transition: all @time ease-in-out; 
}
.transform (@rotate: 0deg, @scale: 1, @skew: 0deg, @translate: 0px) {
    -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	-ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
	transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
}


// General Classes
.round (@radius: 3px) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-o-border-radius: @radius;
}
.sh_box ( @shadow_1 , @shadow_2: transparent 0 0 0 ) {
	box-shadow: @shadow_1 , @shadow_2;
	-moz-box-shadow: @shadow_1 , @shadow_2;
	-webkit-box-shadow: @shadow_1 , @shadow_2;
	-o-box-shadow: @shadow_1 , @shadow_2;
}
.sh_text ( @shadow_1 , @shadow_2: transparent 0 0 0 ) {
	text-shadow: @shadow_1 , @shadow_2;
	-moz-text-shadow: @shadow_1 , @shadow_2;
	-webkit-text-shadow: @shadow_1 , @shadow_2;
	-o-text-shadow: @shadow_1 , @shadow_2;
}
.linear_gradient (@top, @bottom) {
	background: @bottom;
	background: -moz-gradient( linear, left top, left bottom, @top , @bottom );
	background: -moz-linear-gradient( @top , @bottom );
	background: -webkit-gradient( linear, left top, left bottom, @top , @bottom );
	background: -webkit-linear-gradient( @top , @bottom );
	background: -o-linear-gradient( @top , @bottom );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@top, endColorstr=@bottom);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='@top', endColorstr='@bottom')"; 
	background: linear-gradient( linear, left top, left bottom, @top , @bottom );
}
.radial_gradient (@center,@outer) {
	background: @outer;
	background: radial-gradient( @center , @outer );
	background: -moz-radial-gradient( @center , @outer );
	background: -webkit-radial-gradient( @center , @outer );
	background: -o-radial-gradient( @center , @outer );
}

* {
	//.f_accent;
}
body {
	.f_accent;
	font-size: 20px;
	.radial_gradient( #EEE , #ddd );
	min-height: 800px;
}
#hire_me {
	position: fixed;
	top: -1px;
	right: -1px;
	padding: 20px;
	min-width: 150px;
	min-height: 80px;
	background: @col_dark;
	.sh_box( 0 0 10px #222 inset );
	h1 {
		color: #ccc;
		.f_header;
		.sh_text( 0 2px 5px #222 , 0 -1px 1px #fff );
	}
	&:hover {
		.sh_box( 0 3px 10px #222 , 0 1px 1px #eee inset );
	}
}

// Headers and whatnot
h1,h2,h3,h4,h5 {
	.f_accent;
}
h1,h2,h3,h4 {
	&.styled {
		.f_block;
		color: #ccc;
		.sh_text( 0 1px 3px #777, 0 -1px 1px #eee );
		letter-spacing: -2px;
		margin: 0;
	}
	&.contrast {
		.f_block;
		color:#eee;
		.sh_text( 0 1px 6px #000, 0 -1px 1px #fff );
		margin: 0;
	}
}
p {
	.f_general;
	font-size: 1.5em;

	&.huge_text {
		.f_accent;
		font-size: 80px;
		letter-spacing: -5px;
	}
}
pre {
	.f_mono;
}
a {
	.f_accent;
	color: @col_dgrey;
	text-decoration: none;
	.trans( .3s );
	&:hover {
		color: lighten( @col_dgrey , 10% );
	}
	&.logo {
		.f_header;
		font-size: 60px;
		color: #222;
		.sh_text( 0 2px 5px #aaa, 0 -1px 1px #444 );
		&:hover {
			color: #999;
			.sh_text( 0 2px 8px #222, 0 -1px 1px #fff );
		}
	}
	&.btn {
		.f_accent;
		.round(3px);
		display: block;
		float: left;
		margin: auto 5px 5px auto;
		padding: 16px 30px;
		background: #ccc;
		border: 1px #aaa solid;
        font-size: 1.5em;
        //.sh_box( 0 0 5px #bbb inset );
		&:hover {
            .trans( .3s );
			border: 1px #9c9c9c solid;
			background: #ccc;
			.sh_box( 0 2px 12px #bbb, 0 1px 1px #eee inset );
		}
        &:active {
            .trans( .3s );
            .sh_box( 0 0px 2px #999 inset );
        }
        &.down {
            
        }
        &.small {

        	opacity: 0.6;
        	padding: 12px 19px;

        	&:hover {
        		opacity: 1;
        	}
        }
        &.snippet {
        	font-size: 1.2em;
        }
	}
	&.music_link {
		opacity: 0.50;
		img {
			width: auto;
			height: 150px;
		}
		&:hover {
			opacity: 1;
		}
	}
}
button,.button {
	margin-right: 5px;
	margin-bottom: 5px;
	.f_general;
}
footer {
	margin-top: 15px;
}

#slider {

	.round(4px);
	border: 1px #999 solid;
	.sh_box( 0 4px 20px #888 );

	h1 {
		.f_block;
		font-size: 5em;
		letter-spacing: -6px;
		color: #ccc;
		.sh_text(  0 -1px 2px #fff, 0 1px 4px #222);
	}

	div {
		.linear_gradient( @col_base , @col_mid );
		.sh_box( 0 1px 1px @col_high inset );
		width: 940px;
		height: 400px;
		//background: #ccc;
		padding: 40px;
		text-align: center;
		font-size: 20px;
	}

}
.snippet {
	display: none;
}